*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.overlay{
    position: absolute;
    z-index: 99;
}
.esri-ui-top-left {
    top: 0;
    right: 0;
    left: unset;
}
.logo img{
    width: 50px;
    font-size: 14px;
}
#sat-name{
    width: 200px;
    display: block;
}
#earth{
    width: 50%;
    margin-left: 350px;
    padding-top: 100px;

}
.sidebar{
    position: fixed;
    left: -250px;
    width: 220px;
    height: 100%;
    background:#042331;
    transition: all .4s ease;

}
.sidebar header{
    font-size: 20px;
    color: white;
    padding: 20px;
    text-align: center;
    line-height: center;
    background: #42455a;
    user-select: none;

}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1pxsolid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i {
    margin-right: 16px;
}
.search{
    width: 220px;
    height: 30px;
    text-align: center;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    
    border-radius: 3px;
}
label #btn{
    left: 20px;
    top: 20px;
    font-size: 14px;
    color:white;
    padding: 6px 12px;
    transition: all .5s ease;
}
label #cancel{
    z-index: 1111;
    left: -400px;
    top: 0px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
}
/* #check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 150px;
    opacity: 0;
    pointer-events: none;

}
#check:checked ~ label #cancel{
    left: 190px;
} */
.zoom{
    margin-left: 80%;
    margin-top: 70px;
}
.zoom1{
    border: none;
    background-color: #042331;
    color: aliceblue;
    border-radius: 7px;
    padding: 1px 4px;
    text-align: center;
    display: inline-block;
    font-size: 19px;
    margin: 15px 12px;
}
.zoom2{
    border: none;
    border-radius: 7px;
    color: aliceblue;
    background-color: #042331;
    padding: 2px 6px;
    text-align: center;
    display: inline-block;
    font-size: 19px;
    margin: 15px 12px;
}
.search input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
.info{
    margin-top: 30px;
}
.info h1{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.info p{
 margin-left: 250px;
 line-height: 27px;
 color-adjust:rgb(0, 0, 0) ;
 
}
.info-how-to{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 11px;
}
.info-box{
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 20%;
    text-align: left;
    font-size: 11px;
}
.contact{
    margin-left: 400px;
    margin-top: 40px;
    width: 50%;
    background-color: #42455a    ;
    
}
.contact-element{
    width: -webkit-fill-available;
    padding: 12px 0px 9px 8px;
    border: 1px solid white;
    background-color: #42455a    ;
    border-radius: 10px;
    margin-bottom: 20px;
}
label{
    display: block;
}

input[type=submit]{
    border:none;
    padding: 10px 40px;
    background-color:darkgreen;
    border-radius: 20px;
    margin:0 auto;
    display: block;
    cursor: pointer;
    

}
input[type=sumbit] :hover{
    background-color :  rgb(57, 167, 57);
    transition: ease-in 2s;
}
.support{
    margin-top: 30px;
}
.support h1{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.support p{
 margin-left: 250px;
 line-height: 27px;
 color-adjust:rgb(0, 0, 0) ;
 
}

 
html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

*:focus {
    outline: none;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #2D6CA2;
    border-bottom: 1px solid black;
}

#heading {
    position: absolute;
    left: 0;
    top: -5px;
    right: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    pointer-events: none;
}

#buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.rc-button {
    display: inline-block;
    height: 50px;
    cursor: pointer;
    pointer-events: all;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1px;
    padding-top: 13px;
    font-size: 16px;
    font-weight: 700;
    width: 70px;
    text-align: center;
}

.rc-button-square, .btn-group > .rc-button-square {
    border-radius: 0;
}

.rc-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 0, 0, 0.5);
}

#bottom {
    position: absolute;
    /* top: 50px; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#bottom-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    font-size: 12px;
    font-weight: 400;
    background-color: black;
}

.rc-readable {
    font-family: 'Oswald', sans-serif;
    font-size:14px;
    font-weight:400;
}

.rc-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    padding: 0 15px 15px 15px;
    background-color: #646464;
    overflow-x: hidden;
    overflow-y: auto;
}

.rc-panel:not([data-panel=main]) {
    margin-left: -250px;
}

#bottom-right {
    position: absolute;
    top: 0;
    /* left: 250px; */
    left: 0;
    bottom: 0;
    right: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
}

#satellite-count {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    pointer-events: none;
}

.rc-country > button {
    width:40px;
}

.rc-title {
    font-size: 22px;
    font-weight: 700;
    pointer-events: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.rc-close {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rc-vertical {
    display: block;
}

.rc-heading {
    font-size: 18px;
    font-weight: 700;
    pointer-events: none;
    margin-top: 10px;
}

.rc-table-heading {
    font-size: 18px;
    font-weight: 700;
    pointer-events: none;
    width: 120px;
}

.slider.slider-horizontal {
    margin-left: 10px;
    width: 185px;
}

.slider-tick {
    opacity: 1;
}

.btn-default,
.btn-default.active,
.btn-default:focus,
.btn-default:hover {
    color: #337ab7;
}
.btn-default.active {
     font-weight: 700;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #bbc0ff;
}
