*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.container{
    width: 100%;
    height: 100%;
    background: #42455a;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0  20px;
    color: #b2b1b1;
    cursor: pointer;
}
.logo img{
    width: 40px;
    margin-top: -7px;
    margin-right: 48px;
}
.sidebar{
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right,#000,#343a40);
}
.sidebar ul{
    display: inline-flex;
    margin: 25px auto;
    text-align: center;
}
.sidebar ul li{
    list-style: none;
    margin: 0 25px;
    cursor: pointer;
}
.sidebar ul li .fa{
    font-size: 25px;
    color: #ffffff;
}
.sidebar ul li a{
    margin-top: 15px;
    font-size: 10px;
    color: #b2b1b1;
}